@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    color-scheme: dark;
  }

  body,
  #root {
    padding: 0;
    margin: 0;
    background: #000;
    overflow-x: clip;
  }

  * {
    font-family: "Plus Jakarta Sans", sans-serif;
  }
}

@layer utilities {
  .cursor-animation {
    animation: cursor-click infinite linear 5s;
    transform-origin: right;
  }

  .hero-section {
    background-image: url(/imgs/hero-bg.png);
    min-height: 90svh;
    isolation: isolate;
    overflow: clip;
  }

  .bullet{
    @apply relative;

    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      translate: -50% 50%;
      @apply w-4 bg-green-500 border-blue-500 border-2 rounded-lg aspect-square;
    }
  }

  .card-design {
    --shadow-offset: 0.3rem;
    --shadow-color: #fff7;
    scale: .95;
    transition: scale 500ms;
    @apply bg-gray-700 p-6 rounded-lg;
    box-shadow: inset calc(-1 * var(--shadow-offset)) 0 1rem var(--shadow-color),
      inset var(--shadow-offset) 0 1rem var(--shadow-color),
      inset 0 calc(-1 * var(--shadow-offset)) 1rem var(--shadow-color),
      inset 0 var(--shadow-offset) 1rem var(--shadow-color);

      &:hover{
        scale: 1;
      }
  }

  .bg-teach-image {
    background-image: url(/imgs/teach-one.jpeg);
    background-size: cover;
    border-radius: 2rem;
    rotate: 25deg;
    position: relative;
    z-index: -10;
    translate: 100% 100%;
    animation: to-position 500ms ease-in forwards,
      bg-change 10s 700ms linear infinite;
  }

  @keyframes bg-change {
    0%,
    50% {
      background-image: url(/imgs/teach-one.jpeg);
    }

    51%,
    100% {
      background-image: url(/imgs/teach-two.svg);
    }
  }

  @keyframes to-position {
    100% {
      translate: 0 0;
    }
  }

  @keyframes cursor-click {
    5%,
    30% {
      scale: 0.85;
      translate: 0 0;
    }

    100% {
      translate: 0 -100%;
      scale: 1;
    }
  }
}
